.game-board-container {
    text-align: center;
    padding: 20px;
  }
  
  .game-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap; /* Ensures content wraps on smaller screens */
  }
  
.game-board-container p {
  font-size: 1.5rem;
  color: #ff5733; /* Red color for the timer */
  font-weight: bold;
}

.bonus-image {
  max-width: 500px;
  align-content: center;
  height: auto;
  margin: 20px 0;
  object-fit: cover;
}

.bonus-time-container {
  background-color: #e0f19f;
  display: inline-table;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 0px;
}
.bonus-time-container input {

  align-self: center;
  
}

.bonus-submit {
  background-color: #007bff;
  color: white;
  padding: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bonus-submit:hover {
  background-color: #0056b3;
}
  .game-grid {
    border-collapse: collapse;
    margin: 20px auto;
    width: fit-content;
  }
  
  .game-grid td {  
    padding: 10px;
    border: 2px solid black; 
    text-align: center;
    width: 50px; 
    background-color: rgba(255, 255, 255, 0.9);
    height: 40px; 
    font-size: 18px;
  }
  
  .game-grid .header {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  .game-grid .symbol {
    font-size: 20px;
    font-weight: bold;
    background-color: #ddd;
  }
  
  .game-grid input {
    width: 100%; /* Makes input expand fully inside td */
    height: 100%; /* Ensures the input fills the cell */
    border: none; /* Removes default input border */
    text-align: center;
    font-size: 18px;
    background-color: transparent
  }

  .game-grid input:focus {
    outline: none; /* Removes focus border to keep grid clean */
  }
  
  .submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  