.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.landing-title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.landing-description {
  font-size: 18px;
  color: black;
  font-weight: bold;
  max-width: 500px;
}

.get-started-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #0056b3;
}
